In [1]:
import pandas as pd

df = pd.read_csv("file:///C:/Users/kwasi/Documents/Python%20for%20Analytics/EDdata_new.csv")

In [5]:
df

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race
0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese
1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese
2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian
3,121169,SGH,16/10/2011,4:08:47,14927,4:10:00,15000,P3,53.0,F,Malay
4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others
...,...,...,...,...,...,...,...,...,...,...,...
41827,38592,CGH,29/10/2011,14:07:15,50835,14:17:00,51420,P2,82.0,F,Chinese
41828,20523,AH,2/10/2011,7:18:06,26286,7:18:00,26280,P1,88.0,F,Chinese
41829,30317,CGH,8/10/2011,12:59:42,46782,12:59:00,46740,P2,59.0,M,Malay
41830,126705,SGH,31/10/2011,9:55:18,35718,10:06:00,36360,P3,54.0,F,Chinese
41831,110904,NUH,11/4/2012,11:20:27,40827,12:11:00,43860,P3,19.0,F,Chinese

In [15]:
df.shape
df["Hospital_Name"]

0        KTPH
1         KKH
2         CGH
3         SGH
4        TTSH
         ...
41827     CGH
41828      AH
41829     CGH
41830     SGH
41831     NUH
Name: Hospital_Name, Length: 41832, dtype: object

In [6]:

import pandas as pd
import numpy as np

df = pd.read_csv("file:///C:/Users/kwasi/Documents/Python%20for%20Analytics/EDdata_new.csv")

hosp_name = df["Hospital_Name"].unique()
print(hosp_name)
fil_2 = (df["Gender"] == "M") & (df["Hospital_Name"] != "KKH") 
df_female = df.loc[fil_2,:].copy() # subset data to meet the filtering condition
#print(df_female)
#out_table2 = {} # Create an empty dictionary 
#for hos in hosp_name:
df_female = df_female["Hospital_Name"].value_counts(normalize =True) 
    
print(df_female)    
###    out_table2.update({str(hos): list()})
#    for hos in hosp_name:
 #       filter_hos = (df_female["Hospital_Name"] == hos)
  #      df_temp = df_female.loc[filter_hos,:]
#out_table2[hos] = filter_hos.sum()
#print(out_table2)
#result2 = pd.Series(out_table2)
#result2/result2.sum()###

['KTPH' 'KKH' 'CGH' 'SGH' 'TTSH' 'AH' 'NUH']
TTSH    0.215002
CGH     0.211559
KTPH    0.191146
SGH     0.168962
NUH     0.142843
AH      0.070487
Name: Hospital_Name, dtype: float64

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv("file:///C:/Users/kwasi/Documents/Python%20for%20Analytics/EDdata_new.csv")

df["REGIS_DAY"] = df.iloc[:3] #.astype(int)
df["REGIS_HOUR"] = df["REGIS_HOUR"].astype(int)
data_3124 = np.zeros((31,24), dtype = float)

for i in range(31):
    for j in range(24):
        number = ((df.REGIS_DAY== (i+1)) & (df.REGIS_HOUR == j))
        data_3124[i,j] = number.sum()
data_3124

ValueError: Expected a 1D array, got an array with shape (41832, 11)

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("file:///C:/Users/kwasi/Documents/Python%20for%20Analytics/EDdata_new.csv")

df["wait_time"] = 0
n_pat = len(df)
df_reg = df["reg_sec"]
df_tri = df["triage_sec"]
df_wait = df["wait_time"]
df_wait = (24*60*60) + df_tri - df_reg
filt_1 = df["triage_sec"] > df["reg_sec"]
df_wait[filt_1] = df_tri[filt_1] - df_reg[filt_1]
df["wait_time"] = df_wait
df["wait_min"] = df_wait/60

In [4]:
df.head()

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race,wait_time,wait_min
0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese,579,9.650000
1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese,157,2.616667
2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian,135,2.250000
3,121169,SGH,16/10/2011,4:08:47,14927,4:10:00,15000,P3,53.0,F,Malay,73,1.216667
4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others,274,4.566667

In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv("file:///C:/Users/kwasi/Documents/Python%20for%20Analytics/EDdata_new.csv")

df.head()
df = df["REGIS_TIME"]


#Report_Card.loc[:,"Grades"]
Regis_Hours =  df["REGIS_TIME"].str.split(":", expand=True).str(0) 
Regis_Days = df["REGIS_DATE"].str.split("/").str(0)

KeyError: 'REGIS_TIME'