In [1]:
cost = 0.1
price = 0.6
order = 550

demand = 300

if demand < order:
    sold = demand
else:
    sold = demand
    
profit = price*sold -cost*order

print("")

In [8]:
 import pandas as pd
    
df = pd.DataFrame({"sales":[3.0 ,4.0 ,5.0 ,6.0 ,7.0 ,8.0],
                       "probability":[0.05, 0.20, 0.35, 0.30, 0.10, 0.00]})
    
df

   sales  probability
0    3.0         0.05
1    4.0         0.20
2    5.0         0.35
3    6.0         0.30
4    7.0         0.10
5    8.0         0.00

In [23]:
mean = (df.sales*df.probability).size 
var = sum(((df.sales*df.probability) - mean)**2)
sdev = var**0.5


print(mean)
print(sdev)

6
12.690744659002481

In [17]:
df1 = pd.DataFrame({"sales":[3.0 ,4.0 ,5.0 ,6.0 ,7.0 ,8.0],
                       "probability":[0.15, 0.20, 0.25, 0.15, 0.15, 0.10]})

df1

   sales  probability
0    3.0         0.15
1    4.0         0.20
2    5.0         0.25
3    6.0         0.15
4    7.0         0.15
5    8.0         0.10

In [22]:
mean = (df1.sales*df1.probability).size 
var = sum(((df1.sales*df1.probability) - mean)**2)
sdev = var**0.5

print(mean)
print(sdev)

6
12.56811441704761